
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gerenciamento de Documentos</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="~/" class="logo">
                @*<span class="logo-mini"><i></i></span>*@
                @*<span class="logo-lg"><i></i><b>@LocalText.Get("Navigation.SiteTitle")</b></span>*@
                <span>LOGO BSI</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @*<img src="@userImage" class="user-image" alt="User Image">*@
                                <span style="text-align:left;padding-right:300px">LOGO BRADESCO</span>
                                <span>Dino da Silva Sauro</span>
                            </a>
                            @*<ul class="dropdown-menu">

                                <!-- User image -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/Account/ChangePassword" class="btn btn-default btn-flat"><i class="fa fa-lock fa-fw"></i> @Texts.Forms.Membership.ChangePassword.FormTitle</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Account/Signout" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> @LocalText.Get("Navigation.LogoutLink")</a>
                                    </div>
                                </li>
                            </ul>*@
                        </li>

                        @*<li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>*@
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="left-sidebar-menu-forms" style="color:red">Propostas</li>
                   
                    <li id="left-sidebar-menu-forms" class="treeview">
                        <a href="@Url.Action("LancamentoProducaoInclusao", "Forms")">Listar</a>
                    </li>
                    <li id="left-sidebar-menu-forms" class="treeview">
                        <a href="@Url.Action("LancamentoProducaoInclusao", "Forms")">Upload de Documentos</a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.2
            </div>
            <strong>BSI Tecnologia.</strong> All rights
            reserved.
        </footer>
        
        <div class="control-sidebar-bg"></div>
    </div>

    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
    @*@Scripts.Render("~/AdminLTE/plugins/fastclick/js")*@
    @Scripts.Render("~/Scripts/Shared/_Layout")
    @Scripts.Render("~/AdminLTE/dist/js")
    @RenderSection("scripts", required: false)
</body>
</html>