
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gerenciamento de Documentos</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/plugins/font-awesome/css")
    @Styles.Render("~/plugins/bootstrap/css")
    @Styles.Render("~/plugins/dist/css")
    @Styles.Render("~/plugins/dist/css/skins")

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="~/" class="logo">
                <span>LOGO BSI</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span style="text-align:left;padding-right:300px">LOGO BRADESCO</span>
                                <span>Dino da Silva Sauro</span>
                            </a>
                          
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="left-sidebar-menu-forms" style="color:red">Propostas</li>
                   
                    <li id="left-sidebar-menu-forms" class="treeview">
                        <a href="@Url.Action("LancamentoProducaoInclusao", "Forms")">Listar</a>
                    </li>
                    <li id="left-sidebar-menu-forms" class="treeview">
                        <a href="@Url.Action("Index", "FileUpload")">Upload de Documentos</a>
                    </li>
                    <li id="left-sidebar-menu-forms" class="treeview">
                        <a href="@Url.Action("Index", "FileUpload")">Upload de Documentos</a>
                        <a href="/FileUpload/Index">Upload de Documentos BootStrap</a>
                    </li>
                    
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.2
            </div>
            <strong>BSI Tecnologia.</strong> All rights
            reserved.
        </footer>
        
        <div class="control-sidebar-bg"></div>
    </div>

    @Scripts.Render("~/plugins/jquery/js")
    @Scripts.Render("~/plugins/bootstrap/js")
    @Scripts.Render("~/plugins/slimscroll/js")
    @Scripts.Render("~/plugins/dist/js")
    @Scripts.Render("~/plugins/angular")
    @Scripts.Render("~/app")
    @Scripts.Render("~/Scripts/Controllers/FileUpload")
    @Scripts.Render("~/Scripts/Service/FileUpload")
    @RenderSection("Scripts", required: false)
</body>
</html>